        .main-body {
                width: 210mm;
                height: 100%;
                margin: 0 auto;
                padding: 0;
                background: rgb(204, 204, 204);
            }
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            .main-page {
                width: 210mm;
                min-height: 297mm;
                margin: 10mm auto;
                background: white;
                box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
            }
            .sub-page {
                padding: 1cm;
                height: 297mm;
                display: flex;
                flex-direction: column;
            }

            .sub-page-head-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 10%;
                margin-top: 50px;
            }

            .sub-page-title {
                font-size: 40px;
            }

            .sub-page-subtitle {
                margin-top: 5px;
            }

            .regno-div h1 {
                font-size: 20px;
                width: 15%;
                font-weight: 500;
            }

            .regno-div h2 {
                font-size: 25px;
                color: red;
            }

            .regno-div {
                display: flex;
                align-items: center;
                margin-top: 50px;
                margin-left: 50px;
                margin-bottom: 5px;
            }

            /* .name-div {
                display: flex;
                align-items: center;
                margin-top: 15px;
                margin-left: 50px;
            } */

            .name-title {
                display: flex;
                width: 40%;
                align-items: center;
                font-size: 20px;
                font-family: sans-serif;
            }

            .name-head {
                width: 90%;
                font-weight: 500;
            }

            .person-name {
                font-size: 20px;
                margin-left: 10px;
                font-family: sans-serif;
                font-weight: 500;
            }

            .declaration-div {
                padding: 30px 50px 10px 50px;
            }

            .declaration-div h1 {
                font-size: 20px;
                font-family: sans-serif;
                font-weight: 500;
            }

            .certificate-content-div {
                display: flex;
                margin: 50px;
            }

            .certificate-content-div p {
                line-height: 40px;
                font-size: 20px;
                font-family: sans-serif;
                word-spacing: 5px;
            }

            .certificate-content-div p span {
                font-weight: 600;
                color: black;
            }

            .witness-div {
                display: flex;
                width: 100%;
                padding: 15px 50px;
            }

            .witness-heading {
                width: 30%;
            }

            .witness-heading h1 {
                font-size: 20px;
                font-family: sans-serif;
                font-weight: 400;
            }

            .witness-entries {
                width: 70%;
            }

            .witness-entries p {
                font-size: 20px;
                font-family: sans-serif;
                font-weight: 600;
            }

            .witness-entries span{
                color: black;
            }

            .credentials-div {
                width: 100%;
                display: flex;
                padding: 150px 50px 10px 50px;
            }

            .name-title span{
                color: black;
            }

            .place-date-div {
                display: flex;
                flex-direction: column;
                width: 30%;
            }

            .date-div {
                display: flex;
                width: 100%;
                margin-top: 10px;
            }

            .seal-div {
                display: flex;
                width: 30%;
                align-items: flex-end;
                justify-content: center;
            }

            .name-signature-div {
                width: 40%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            .name-signature-head {
                text-align: center;
            }

            .digital-signature-div {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }

            .digital-signature-div h1{
                color: red;
                font-size: 12px;
                font-weight: 500;
                margin-top: 50px;
                margin-left: 50px;
            }

            .digital-signature-content {
                font-size: 12px;
                padding: 10px 50px 50px 50px;
            }

            @page {
                size: A4;
                margin: 0;
            }
            @media print {
                html,
                body {
                    width: 210mm;
                    height: 297mm;
                }
                .main-page {
                    margin: 0;
                    border: initial;
                    border-radius: initial;
                    width: initial;
                    min-height: initial;
                    box-shadow: initial;
                    background: initial;
                    page-break-after: always;
                }
            }