@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Vujahday+Script&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #6c63f0;
  --color-secondary: #ffffff;
  --color-3: #eaeaea;

  --text-primary: #111111;
  --hover-underline: #f1743c;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #111;
}

html::-webkit-scrollbar-thumb {
  background-color: #6c63f0;
  border-radius: 50px;
}

* {
  scrollbar-color: var(--color-primary) var(--text-primary);
  scrollbar-width: thin;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}

/* Login Page start
----------------------------------------------------------------*/

.div1 {
  display: flex;
  width: 40%;
  height: 100%;
  background-color: var();
  align-items: center;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms label {
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
  color: var(--text-primary);
}

.forms input {
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}

.forms input:focus {
  border: 2px solid var(--color-primary);
}

#uid,
#password {
  width: 350px;
  height: 40px;
  border: 2px solid var(--color-3);
  border-radius: 5px;
}

.password-text {
  margin-top: 30px;
}

.login-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 2px;
  width: 350px;
  margin-top: 40px;
  padding: 10px 0 10px 0;
  transition: 0.2s ease-in-out;
  transition-property: background, color;
}

.login-btn:hover {
  background-color: var(--color-3);
  color: #111;
}

.forgot-password {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #989898;
  text-align: center;
  margin-top: 30px;
}

.forgot-password:hover {
  color: var(--color-primary);
}

.div2 {
  width: 60%;
  height: 100%;
  background-color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-login {
  position: absolute;
  top: 0;
  left: 40%;
  margin-top: 30px;
  margin-left: 30px;
}

.div2 h1 {
  font-weight: 600;
  font-size: 60px;
  color: var(--color-secondary);
  text-align: center;
  line-height: 95%;
}

.div2 h2 {
  font-family: "Vujahday Script", cursive;
  color: var(--color-secondary);
  font-size: 60px;
  rotate: -5deg;
  font-weight: 400;
}

/* Login Page End
----------------------------------------------------------------*/

/* Individual Family Section
----------------------------------------------------------------*/

.graph-div {
  width: 100%;
  height: 500px;
  background-color: var(--text-primary);
}

.secondary-nav-div {
  display: flex;
  width: 100%;
}

.secondary-nav-subdiv1 {
  width: 40%;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.secondary-nav-subdiv2 {
  width: 60%;
  height: 500px;
  background-color: var(--color-primary);
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scrollbar-width: thin; */
}

.sub1-head {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
  position: sticky;
  top: 0;
  background-color: var(--color-secondary);
}

.sub1-heading {
  width: 20%;
}

.sub1-heading h1 {
  font-weight: 600;
  font-size: 20px;
}

.filter-area {
  display: flex;
  /* width: 100%; */
  padding: 5px 80px;
}

.filters-head {
  display: flex;
  background-color: var(--color-3);
  border-radius: 5px;
  /* width: 100%; */
  padding: 2px 10px;
}

.filters-head div {
  margin-left: 10px;
  padding: 2px;
}

.add-filter {
  background-color: var(--color-3);
  border-radius: 5px;
  margin-left: 5px;
  padding: 2px 10px;
}

.families-search-div {
  width: 60%;
}

.families-search-div img {
  position: relative;
  right: 25px;
}

.families-search-div input {
  font-weight: 400;
  font-size: 20px;
  padding-left: 10px;
  width: 80%;
  outline: none;
  border-bottom: 2px solid var(--color-3);
}

.families-search-div input:focus {
  border-bottom: 2px solid var(--hover-underline);
}

.filter-div {
  width: 5%;
}

.sub-entries h1 {
  font-weight: 400;
  font-size: 20px;
  border-bottom: 2px solid var(--color-3);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 20px;
  transition: 0.2s ease-in-out;
}

.sub-entries h1:hover {
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

.sub2-head {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-bottom: 3.5px;
}

.sub2-heading {
  width: 70%;
}

.sub2-heading h1 {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-secondary);
}

.view-detail-div {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  padding-right: 50px;
  cursor: pointer;
}

.view-detail-div h1 {
  color: var(--color-secondary);
  font-size: 16px;
}

.sub-div2-content {
  width: 100%;
}

.sub2-content-head {
  display: flex;
  width: 100%;
  padding: 10px 50px;
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
}

.sub2-name-div {
  width: 40%;
}

.sub2-dob-div {
  width: 30%;
}

.sub2-phone-div {
  width: 30%;
}

.sub2-content-head h1 {
  font-weight: 500;
  color: var(--color-secondary);
}

.sub2-content {
  display: flex;
  width: 100%;
  padding: 10px 50px;
}

.sub2-content:hover {
  background-color: #7c74f5;
  cursor: pointer;
}

.sub2-content h1 {
  font-weight: 400;
  color: var(--color-secondary);
}

.families-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Individual Family Section */

.container-family {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.families-container hr {
  border: 1px solid var(--color-3);
}

.nav-div {
  width: 100%;
  height: 120px;
  /* position: fixed; */
  background-color: var(--text-primary);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
}

.logo-div {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .logo-div h1{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
} */

.navigations {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 300px;
}

.navigations a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-secondary);
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.navigations a:hover {
  color: var(--color-primary);
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0 70px;
}

.add-title-div {
  justify-content: flex-start;
  margin-left: 20px;
}

.title-div h1 {
  font-weight: 600;
  font-size: 36px;
  color: var(--text-primary);
}

hr {
  border: 2px solid var(--color-3);
  margin-bottom: 30px;
}

.family-master {
  width: 70%;
}

.family-name {
  width: 100%;
}

.search-div {
  width: 25%;
}
.search-div img {
  position: relative;
  right: 25px;
}

.search-div input {
  font-weight: 400;
  font-size: 20px;
  padding-left: 10px;
  width: 80%;
  outline: none;
}
.search-div input:focus {
  border-bottom: 2px solid var(--hover-underline);
}

.container-family br {
  border: 20px var(--text-primary);
  rotate: 180deg;
  margin-top: 10px;
}

.family-details-div {
  width: 100%;
  display: flex;
  margin-left: 90px;
  margin-bottom: 50px;
}

.family-entries {
  width: 60%;
  display: flex;
}

.family-photo {
  width: 40%;
}

.family-send-message-btn {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.family-send-message-btn a {
  text-decoration: none;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-weight: 600;
  border-radius: 10px;
  padding: 5px 20px;
  transition: 0.2s ease-in-out;
}

.family-send-message-btn a:hover {
  background-color: var(--color-3);
  color: var(--text-primary);
}

.inner-div-1 {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.inner-div-1 h1,
.inner-div-2 h1 {
  font-weight: 500;
  font-size: 20px;
}

.inner-div-1 h2,
.inner-div-2 h2 {
  font-weight: 400;
  font-size: 20px;
}

.house-name-input {
  outline: none;
  width: 300px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 5px 10px;
}

.address-input {
  outline: none;
  width: 300px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 5px 10px;
  resize: none;
}

.house-name-input:focus,
.address-input:focus,
.house-no-input:focus {
  border: 2px solid var(--color-primary);
}

.house-no-input {
  outline: none;
  width: 200px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 5px 10px;
}

.inner-div-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.address-div,
.ward-div,
.pincode-div {
  margin-top: 30px;
}

.upload-btn {
  display: flex;
  margin-bottom: 10px;
}

.upload-btn h1 {
  font-weight: 500;
  font-size: 20px;
}

.upload-btn img {
  margin-left: 10px;
}

.photo-container img {
  border-radius: 10px;
  height: 200px;
}

.famili-members-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 70px;
}

.heading-div {
  display: flex;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  padding: 2px 15px;
  border-bottom: 3px solid var(--color-3);
}

.name-div {
  width: 20%;
}

.dob-div {
  width: 13%;
}

.phone-div {
  width: 17%;
}

.baptism-div {
  width: 13%;
}

.marriage-div {
  width: 13%;
}

.death-div {
  width: 13%;
}

.relation-div {
  width: 11%;
}

.member-details-div {
  display: flex;
  width: 100%;
  padding: 15px 15px;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 3px solid var(--color-3);
  transition: 0.2s ease-in-out;
}

.member-details-div:hover {
  border-bottom: 3px solid var(--color-primary);
  cursor: pointer;
}

.description-div,
.donation-div {
  margin-left: 20px;
}

.desc-heading,
.donation-heading {
  font-weight: 600;
  font-size: 36px;
  margin-top: 40px;
}

.desc-content,
.donation-content {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.desc-content input {
  margin-bottom: 50px;
  outline: none;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  width: 100%;
  padding: 20px 20px;
}

.desc-content input:focus {
  border: 2px solid var(--color-primary);
}

.donation-content {
  margin-bottom: 50px;
}

.submit-btn-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.submit-btn-div a {
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 20px;
  transition: 0.2s ease-in-out;
  margin-bottom: 100px;
}

.submit-btn-div a:hover {
  background-color: #d9d9d9;
  color: var(--text-primary);
}

/* Person Page */

.person-head {
  width: 30%;
}

.sign-up-div {
  width: 10%;
}

.sign-up-div h2 {
  font-weight: 600;
  color: #4c43cd;
  transition: 0.2s ease-in-out;
}

.sign-up-div h2:hover {
  color: #b7b7b7;
  cursor: pointer;
}

.registries-nav-div {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registries-nav-div a {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.2s ease-in-out;
}

.registries-nav-div a:hover {
  border-bottom: 3px solid var(--hover-underline);
}

.menu-div {
  width: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.members-entries-div {
  display: flex;
  width: 100%;
  margin: 0px 50px;
}

.details-heading-div {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.details-heading-div div {
  font-size: 20px;
}

.heading-name,
.heading-dob,
.heading-phone,
.heading-baptism,
.heading-marriage,
.heading-death {
  width: 30%;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 20px;
}

.person-name,
.person-dob,
.person-phone,
.person-baptism,
.person-marriage,
.person-death {
  width: 70%;
  font-weight: 400;
  padding-bottom: 10px;
}

.name-person-div,
.dob-person-div,
.phone-person-div,
.baptism-person-div,
.marriage-person-div,
.death-person-div {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-bottom: 3px solid var(--color-3);
}

.person-photo-div {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.person-photo-div a {
  text-decoration: none;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-weight: 600;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.person-photo-div a:hover {
  background-color: var(--color-3);
  color: var(--text-primary);
  padding: 5px 50px;
}

.desc-div {
  margin: 20px 70px;
}

.desc-heading {
  margin-bottom: 20px;
}

.blank-space {
  margin-right: 70px;
}

.role-div {
  display: flex;
  flex-direction: column;
  padding: 40px 70px;
  transition: 0.5s ease-in-out;
}

.role-entries {
  display: flex;
}

.role-entries h1 {
  font-weight: 600;
  font-size: 36px;
  color: var(--text-primary);
}

.role-entries input {
  width: 300px;
  border-radius: 10px;
  padding: 1px 10px;
  border: 2px solid var(--color-3);
  margin-left: 100px;
}

.role-entries input:focus {
  order: 2px solid var(--color-primary);
}

.role-entries img {
  position: relative;
  right: 80px;
  scale: 20%;
}

.role-submit {
  width: 8%;
}

.role-submit a {
  text-decoration: none;
}

.role-submit a h1 {
  text-align: center;
  font-weight: 600;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.role-submit a h1:hover {
  color: var(--text-primary);
  background-color: var(--color-3);
}

.message-popup-bg {
  width: 100vw;
  height: 100vh;
  background-color: #0000007c;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.message-popup {
  width: 800px;
  height: 500px;
  background-color: var(--color-secondary);
  box-shadow: 5px 5px 50px 15px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.message-close-icon-div {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
}

.message-close-icon-div img {
  scale: 60%;
}

.message-popup-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 36px;
  display: flex;
  flex-direction: column;
}

.message-popup-head h1 {
  font-weight: 600;
  font-size: 36px;
}

.message-popup-head hr {
  border: 2px solid var(--color-3);
  width: 80%;
}

.message-input-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.message-input-div textarea {
  resize: none;
  border: 2px solid var(--color-3);
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.message-input-div textarea:focus {
  border: 2px solid var(--color-primary);
}

.message-send-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}

.message-send-button a {
  text-decoration: none;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-weight: 600;
  border-radius: 10px;
  padding: 5px 30px;
  transition: 0.2s ease-in-out;
}

.message-send-button a:hover {
  background-color: var(--color-3);
  color: var(--text-primary);
  padding: 5px 50px;
}

.message-send-button h1 {
  font-weight: 600;
  font-size: 20px;
  color: #0bb211;
}

.message-wrong {
  color: red;
  font-weight: 600;
  font-size: 20px;
}

/* Marriage Registry */

.bridegroom-head {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 3px solid var(--hover-underline);
  margin: 10px 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.registry-div {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.registry-details-heading-div div {
  font-size: 20px;
}

.registry-details-heading-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registry-details-heading-div input {
  width: 250px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
  padding: 5px 10px;
  font-weight: 500;
}

.registry-details-heading-div input:focus {
  border: 2px solid var(--color-primary);
}

.registry-photo-div {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}

.bride {
  margin-top: 50px;
}

.marriage-photo {
  scale: 80%;
}

.upload-icon {
  margin-left: 50px;
}

/* Family Relation */

.relation-entry-div-heading,
.relation-entry-div {
  width: 100%;
  display: flex;
  /* margin: 0 10px; */
  border-bottom: 2px solid var(--color-3);
  /* padding-bottom: 15px;
    padding-top: 15px; */
  padding: 15px 70px;
}

.relation-entry-div {
  transition: 0.2s ease-in-out;
}

.relation-entry-div:hover {
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

.relation-entry-div-heading div {
  font-weight: 500;
}

.sno-div {
  width: 15%;
}

.person1-div {
  width: 22.5%;
}

.person2-div {
  width: 22.5%;
}

.relationtype-div {
  width: 20%;
  display: flex;
}

.reversereation-div {
  width: 20%;
  display: flex;
}

.relation-type {
  width: 65%;
}

.drop-icon {
  width: 35%;
}

.select-head-div {
  display: flex;
  width: 50%;
  margin-left: 70px;
  margin-top: 70px;
}

.select-head-text {
  width: 50%;
}

.select-head-area {
  width: 50%;
}

.select-head-area input {
  width: 200px;
  outline: none;
  border-bottom: 2px solid var(--color-3);
}

.select-head-area input:focus {
  border-bottom: 2px solid var(--hover-underline);
}

.select-dropdown-icon {
  position: relative;
  right: 20px;
}

.save-btn-div {
  width: 100%;
  display: flex;
  padding: 50px 200px;
  justify-content: flex-end;
}

.save-btn-div a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-secondary);
  background: var(--color-primary);
  padding: 5px 50px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.save-btn-div a:hover {
  color: var(--text-primary);
  background-color: var(--color-3);
}

.dropdown-popup {
  /* position: relative; */
  width: 350px;
  height: 340px;
  top: 30px;
  right: 160px;
  z-index: 1000;
  background: var(--color-secondary);
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  /* display: block; */
  padding: 10px 0;
}

.dropdown-popup ul {
  margin: 0 10px;
  padding: 0;
  display: block;
}

.dropdown-popup li {
  font-size: 16px;
  padding: 5px 0;
  transition: 0.2s ease-in-out;
  list-style: none;
}

.dropdown-popup li:hover {
  color: var(--color-primary);
}

.relationtype-div .drop .add-member-details-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row1-div,
.row2-div {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  padding-left: 90px;
  padding-right: 90px;
}

.first-name-div,
.last-name-div,
.dateofbirth-div,
.contact-no-div {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.row1-div h1,
.row2-div h1 {
  font-weight: 500;
}

.row1-div input,
.row2-div input {
  width: 300px;
}

.gender-div {
  width: 25%;
}

.radio-div {
  width: 100%;
  display: flex;
}

.radio1 {
  width: 50%;
  display: flex;
}

.radio2 {
  width: 50%;
  display: flex;
}

.add-section-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.sub-menu1-div {
  display: none;
  left: 400px;
  position: absolute;
  top: 75px;
  background-color: #333333;
  width: 750px;
  height: 300px;
  z-index: 2000;
}

.sub-menu1-div li {
  color: var(--color-secondary);
  list-style: none;
  margin: 20px 10px;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.sub-menu1-div li:hover {
  color: var(--color-primary);
}

.registry-nav:hover {
  border-bottom: 3px solid var(--color-secondary);
}

.registry-nav:hover .sub-menu1-div {
  display: block;
}

/* Transactions Start
----------------------------------------------------------------*/

.transactions {
  margin-top: 30px;
}

.led-slno {
  width: 5%;
}

.led-name {
  width: 30%;
}

.led-under {
  width: 20%;
}

.led-no-tra {
  width: 20%;
}

.led-total {
  width: 15%;
}

.led-type {
  width: 15%;
}

.heading-div div {
  font-weight: 500;
}

.create-led-btn-div {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 0px;
}

.create-led-btn {
  text-decoration: none;
  background: var(--color-primary);
  color: var(--color-secondary);
  margin: 50px 80px;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.create-led-btn h1 {
  font-weight: 600;
}

.create-led-btn:hover {
  background-color: #d9d9d9;
  color: var(--text-primary);
}

/* Transactions End
----------------------------------------------------------------*/
/* Ledger Individual Start
----------------------------------------------------------------*/

.led-indi-slno {
  width: 10%;
}

.led-indi-date {
  width: 15%;
}

.led-indi-narration {
  width: 50%;
}

.led-indi-vno {
  width: 15%;
}

.led-indi-amt {
  width: 15%;
}

.led-indi-mode {
  width: 10%;
}

/* Ledger Individual End
----------------------------------------------------------------*/

/* Forgot Password Start
----------------------------------------------------------------*/

.forgot-password-body {
  overflow-x: hidden;
}

.container-forgot-password {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.forgot-logo {
  margin-top: 40px;
  margin-left: 50px;
}

.forgot-head-div {
  width: 100%;
  display: flex;
  margin: 20px 70px;
  flex-direction: column;
}

.forgot-head h1 {
  font-weight: 600;
  font-size: 36px;
}

.otp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-forms {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.otp-forms input {
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}

.otp-forms label {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  color: var(--text-primary);
}

#userid,
#otp {
  width: 350px;
  height: 40px;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  margin-top: 5px;
}

#otp-label {
  margin-top: 30px;
}

.otp-forms input:focus {
  border: 2px solid var(--color-primary);
}

#otp-btn-proceed {
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 40px;
  transition: 0.2s ease-in-out;
}

#otp-btn-proceed:hover {
  cursor: pointer;
  background-color: var(--color-3);
  color: var(--text-primary);
}

.hidden {
  display: none;
}

.grp-slno {
  width: 10%;
}

.grp-name {
  width: 25%;
}

.grp-nature {
  width: 25%;
}

.grp-notrans {
  width: 25%;
}

.grp-total {
  width: 15%;
}

/* Forgot Password End
----------------------------------------------------------------*/

/* Vouchers Start
----------------------------------------------------------------*/

.vchr-vno {
  width: 8%;
}

.vchr-date {
  width: 12%;
}

.vchr-particulars {
  width: 25%;
}

.vchr-account {
  width: 20%;
}

.vchr-type {
  width: 12%;
}

.vchr-amount {
  width: 13%;
}

.vchr-mode {
  width: 10%;
}

/* Vouchers End
----------------------------------------------------------------*/

/*Index Page Start
----------------------------------------------------------------*/

body {
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
}

.index-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.index-nav-div {
  display: flex;
  width: 100%;
  height: 70px;
  margin-top: 30px;
}

.index-nav-div nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.index-nav-items-div {
  display: flex;
  margin: 0 100px;
}

.index-logo-div a {
  display: flex;
  align-items: center;
}

.index-nav-items-div a h1 {
  padding: 0 20px;
  color: var(--text-primary);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.index-nav-items-div a h1:hover {
  color: var(--color-primary);
}

.index-nav-items-div a {
  text-decoration: none;
}

.index-login-btn-div a {
  text-decoration: none;
  border: 2px solid var(--color-primary);
  padding: 5px 30px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  color: var(--text-primary);
}

.index-login-btn-div a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/*Hero Section Start
----------------------------------------------------------------*/

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.hero-container {
  display: flex;
}

.hero-div1 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.hero-div2 {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero-church-name h1 {
  font-weight: 700;
  font-size: 124px;
  line-height: 160px;
  margin-left: 80px;
}

.hero-church-name h2 {
  font-weight: 700;
  font-size: 66px;
  line-height: 0px;
  margin-left: 80px;
}

.hero-quote {
  margin-top: 50px;
  width: 550px;
  align-self: flex-start;
  margin-left: 80px;
}

.hero-div1 a {
  text-decoration: none;
  color: var(--text-primary);
}

.hero-announce-div {
  width: 78%;
  margin: 30px 0px 30px 70px;
  height: auto;
  border: 2px solid var(--color-primary);
  border-radius: 25px;
  border-style: dashed;
  transition: 0.2s ease-in-out;
}

.hero-announce-div:hover {
  background-color: var(--color-3);
  border-style: none;
  border: 2px solid var(--color-primary);
  display: block;
}

.hero-announce-div h1 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-top: 10px;
}

.hero-announce-div h2 {
  padding: 10px 30px;
}

.priest-vector-div {
  width: 380px;
}

/* .hero-div2 svg{
    width: 380px;
} */

.explore-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.explore-btn-div a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  padding: 5px 20px;
  border-radius: 20px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  transition: 0.2s ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.explore-btn-div a:hover {
  padding: 5px 50px;
  background-color: var(--color-3);
  color: var(--text-primary);
}

.hero-patterns {
  position: absolute;
  left: 400px;
  top: -60px;
  scale: 75%;
  z-index: -100;
}

/*Hero Section End
----------------------------------------------------------------*/

/*About Us Section Start
----------------------------------------------------------------*/

.about-us {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.about-us-head {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  margin-left: 80px;
}

.about-us-head h1 {
  font-weight: 700;
  font-size: 125px;
  color: #d9d9d9;
  line-height: 90%;
  transition: 0.5s ease-in-out;
}

.about-us-head h1:hover {
  color: var(--color-primary);
  margin-left: 50px;
}

.about-us-head hr {
  width: 50%;
  border: 2px solid var(--text-primary);
  margin-bottom: 0;
}

.aboutus-content-div {
  display: flex;
}

.aboutus-div1 {
  width: 50%;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.aboutus-div1 h1 {
  width: 600px;
  font-weight: 500;
}

.aboutus-div2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.aboutus-div2 img {
  scale: 90%;
}

.aboutus-patterns img {
  position: absolute;
  top: 950px;
  left: 400px;
  scale: 90%;
  z-index: -100;
}

.priest-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.priest-sub1 {
  width: 100vw;
  height: 80vh;
  background-color: #d9d9d9;
}

.priest-sub2 {
  width: 100vw;
  height: 20vh;
  background-color: var(--color-primary);
}

.priest-head {
  display: flex;
  width: 100%;
}

.priest-head h1 {
  font-weight: 700;
  font-size: 125px;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-left: 280px;
}

.priest-data-div {
  position: absolute;
  width: 1000px;
  height: 600px;
  background-color: var(--color-secondary);
  box-shadow: 5px 5px 50px 15px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  transform: translate(-50%, -50%);
  top: 255%;
  left: 50%;
  display: flex;
  z-index: 20;
}

.priest-img-div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priest-entries-div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.priest-img-container {
  width: 250px;
  height: 420px;
  border: 2px solid #6c63f0;
  border-radius: 128.5px;
  background: url(Assets/priest-img.jpg);
  background-size: 115%;
}

.priest-name {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.priest-address {
  width: 400px;
}

.priest-entries-div h2 {
  margin-bottom: 20px;
}

.priest-patterns img {
  position: absolute;
  top: 190%;
  left: 1%;
  scale: 90%;
  z-index: 10;
}

/*About Us Section End
----------------------------------------------------------------*/

/*Contact Us Section Start
----------------------------------------------------------------*/

.contact-us {
  height: 220vh;
}

.contactus-head {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 80px;
  margin-top: 50px;
}

.contactus-head h1 {
  font-weight: 700;
  font-size: 125px;
  color: rgba(0, 0, 0, 0.2);
  line-height: 90%;
  transition: 0.5s ease-in-out;
}

.contactus-head h1:hover {
  color: var(--color-primary);
  margin-right: 50px;
}

.contactus-head hr {
  width: 60%;
  border: 2px solid var(--text-primary);
  margin-bottom: 0;
}

.contactus-content-div {
  display: flex;
  width: 100%;
  margin: 100px 0;
  padding: 0 200px;
}

.contact-us-address-div,
.contact-us-phone-div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus-address-entries,
.contactus-phone-entries {
  width: 350px;
  height: 340px;
  background-color: var(--color-secondary);
  box-shadow: 5px 5px 50px 15px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
}

.contactus-address-topbar,
.contactus-phone-topbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  background-color: var(--color-primary);
}

.contactus-address-topbar h1,
.contactus-phone-topbar h1 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 30px;
}

.contactus-address-content,
.contactus-phone-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}

.contactus-address-content h1,
.contactus-phone-content h1 {
  text-align: center;
}

.map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.contactus-patterns {
  position: absolute;
  top: 310%;
  left: 120px;
  z-index: -10;
}

/*Contact Us Section End
----------------------------------------------------------------*/

/*Announcements Section Start
----------------------------------------------------------------*/

.announcement {
  background-color: #d9d9d9;
  height: auto;
}

.announcement-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
  margin-top: 30px;
}

.announcement-head h1:hover {
  margin-left: 100px;
}

.announcement-head hr {
  width: 80%;
}

.announce-content-div {
  width: 100%;
  display: flex;
}

.announce-entries-div {
  width: 50%;
}

.announce-img-div {
  width: 50%;
}

.announce-container {
  margin: 20px 100px;
  height: 500px;
  overflow: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.announce-text h1 {
  margin-top: 30px;
}

.quotes {
  font-weight: 700;
  color: #df0204;
  font-size: 20px;
}

.announcement-content {
  font-weight: 700;
  color: var(--text-primary);
}

.announce-daytime-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.announce-date-div {
  width: 20%;
}

.load-more-btn-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  z-index: 2000;
  position: relative;
}

.load-more-btn-div a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 25px;
  padding: 10px 30px;
  transition: 0.2s ease-in-out;
  margin-bottom: 80px;
}

.load-more-btn-div a:hover {
  color: var(--text-primary);
  background-color: var(--color-3);
  padding: 10px 40px;
}

.announce-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
}

.announce-img-div img {
  scale: 90%;
}

.announcement-patterns {
  position: absolute;
  top: 458%;
  scale: 80%;
  z-index: 100;
}

/*Announcements Section End
----------------------------------------------------------------*/

/*Footer Section Start
----------------------------------------------------------------*/

.footer-container {
  display: flex;
  width: 100%;
  padding-left: 330px;
  padding-right: 200px;
}

footer {
  width: 100%;
  background-color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.footer-address-div {
  width: 33%;
}

.footer-contact-div {
  width: 33%;
}

.footer-quicklinks-div {
  width: 33%;
}

.footer-address-div h1,
.footer-contact-div h1,
.footer-quicklinks-div h1 {
  color: var(--color-secondary);
  font-weight: 600;
}

.footer-address-div h2,
.footer-contact-div h2,
.footer-quicklinks-div a {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.footer-quicklinks-div a:hover {
  color: var(--color-primary);
}

.footer-address-div h2 {
  width: 226px;
}

footer hr {
  width: 70%;
  border: 1px solid var(--color-secondary);
  margin-top: 30px;
}

footer h1 {
  color: var(--color-secondary);
}

/*Footer Section End
----------------------------------------------------------------*/
/*Index Page End
----------------------------------------------------------------*/

/*Verify Certificate Page Start
----------------------------------------------------------------*/

.verify-content-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#token {
  width: 350px;
  height: 150px;
  padding: 5px 10px;
  resize: none;
  border: 2px solid var(--color-3);
  border-radius: 10px;
  outline: none;
  font-size: 20px;
}

#token:focus {
  border: 2px solid var(--color-primary);
}

.verify-success-entries {
  margin-left: 100px;
}

.verify-token-entry {
  margin-right: 100px;
}

.verify-status-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.verify-valid {
  font-weight: 600;
  font-size: 36px;
  color: #0bb311;
}

.verify-invalid {
  font-weight: 600;
  font-size: 36px;
  color: red;
}

/*Verify Certificate Page End
----------------------------------------------------------------*/
